<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gatech.cs4400.fall22.team119.rse.mapper.IngredientMapper">
    <resultMap id="IngredientMap" type="edu.gatech.cs4400.fall22.team119.rse.pojo.Ingredient">
        <result column="amount_available" property="amountAvailable"/>
        <result column="low_price" property="lowPrice"/>
        <result column="high_price" property="highPrice"/>
        <result column="ingredient_name" property="iname"/>
    </resultMap>


    <select id="displayIngredientView" resultMap="IngredientMap">
        SELECT * FROM restaurant_supply_express.display_ingredient_view;
    </select>
    <select id="displayIngredient" resultMap="IngredientMap">
        SELECT * FROM restaurant_supply_express.ingredients;
    </select>

    <insert id="addIngredient">
        call add_ingredient (#{barcode},
        #{iname},
        #{weight});
    </insert>

    <delete id="removeIngredient">
        call remove_ingredient(#{barcode});
    </delete>
</mapper>