<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gatech.cs4400.fall22.team119.rse.mapper.LocationMapper">
    <resultMap id="LocationMap" type="edu.gatech.cs4400.fall22.team119.rse.pojo.Location">
        <result column="x_coord" property="xCoord"/>
        <result column="y_coord" property="yCoord"/>
        <result column="num_restaurants" property="numRestaurants"/>
        <result column="num_delivery_services" property="numDeliveryServices"/>
        <result column="num_drones" property="numDrone"/>


    </resultMap>
    <select id="displayLocationView" resultMap="LocationMap">
        SELECT * FROM restaurant_supply_express.display_location_view;
    </select>
    <insert id="addLocation">
        call add_location (#{label},
        #{xCoord},
        #{yCoord},
        #{space});
    </insert>
</mapper>