<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gatech.cs4400.fall22.team119.rse.mapper.PilotMapper">
    <resultMap id="PilotMap" type="edu.gatech.cs4400.fall22.team119.rse.pojo.Pilot">
        <result column="num_drones" property="numDrones"/>
        <result column="num_locations" property="numLocations"/>
    </resultMap>
    <select id="displayPilotView" resultMap="PilotMap">
        SELECT * FROM restaurant_supply_express.display_pilot_view;
    </select>

    <insert id="addPilot">
        call add_pilot_role (#{username},
        #{licenseID},
        #{experience});
    </insert>
</mapper>