<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gatech.cs4400.fall22.team119.rse.mapper.RestaurantMapper">
    <resultMap id="RestaurantMap" type="edu.gatech.cs4400.fall22.team119.rse.pojo.Restaurant">
        <result column="long_name" property="longName"/>
        <result column="funded_by" property="fundedBy"/>
    </resultMap>
    <select id="displayRestaurant" resultMap="RestaurantMap">
        SELECT * FROM restaurant_supply_express.restaurants;
    </select>
    <insert id="addRestaurant">
        call add_restaurant (#{longName},
        #{rating},
        #{spent},
        #{location});
    </insert>

    <update id="startFunding">
        call start_funding (#{fundedBy},
        #{longName});
    </update>
    <update id="purchaseIngredient">
        call purchase_ingredient(#{longName},
        #{id},
        #{tag},
        #{barcode},
        #{quantity}
        );
    </update>
</mapper>