<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.gatech.cs4400.fall22.team119.rse.mapper.WorkForMapper">

    <select id="displayWorkFor" resultType="edu.gatech.cs4400.fall22.team119.rse.pojo.WorkFor">
        SELECT * FROM restaurant_supply_express.work_for;
    </select>

    <select id="displayWorkForView" resultType="Map">
        SELECT
            *, 
            (username in (select username from workers)) as is_worker,
            (username in (select username from pilots)) as is_pilot
        FROM restaurant_supply_express.work_for
        natural join restaurant_supply_express.delivery_services
        natural join restaurant_supply_express.employees
        natural join restaurant_supply_express.users;
    </select>

</mapper>